<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>DHY堡家麗-幸福是設計出來的</title>
  <!-- CSS -->
  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href="scss/main.scss">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
  <!-- Swiper JS -->
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <!-- Initialize Swiper -->
  <script>
    window.onload = function() {
      var swiper = new Swiper(".mySwiper", {
        pagination: {
          el: ".swiper-pagination",
        },
      });
    }

    $(document).ready(function() {
      $.ajax({
          method: "GET",
          url: "https://u-shane.fun:3000/news",
          dataType: 'json'
        })
        .done(function(msg) {

          // 資料載入
          if (Array.isArray(msg)) {
            // 第一個新聞標題
            $('#news-1').text(msg[0] && msg[0].title ? msg[0].title : '無可用的新聞標題');
            $('#description-1').text(msg[0] && msg.description ? msg[0].description : '無可用內容');
            $('#imgUrl-1').attr("src", msg[0] && msg[0].imgUrl ? msg[0].imgUrl : 'http://localhost:5173/img/img/picture/index/new-3.jpg');
            // 第二個新聞標題
            $('#news-2').text(msg[1] && msg[1].title ? msg[1].title : '無可用的新聞標題');
            $('#description-2').text(msg[1] && msg[1].description ? msg[1].description : '無可用內容');
            $('#imgUrl-2').attr("src", msg[1] && msg[1].imgUrl ? msg[1].imgUrl : 'http://localhost:5173/img/img/picture/index/new-3.jpg');
            // 第三個新聞標題
            $('#news-3').text(msg[2] && msg[2].title ? msg[2].title : '無可用的新聞標題');
            $('#description-3').text(msg[2] && msg[2].description ? msg[2].description : '無可用內容');
            $('#imgUrl-3').attr("src", msg[2] && msg[2].imgUrl ? msg[2].imgUrl : 'http://localhost:5173/img/img/picture/index/new-3.jpg');

          } else {
            console.error('返回的資料不是陣列');
          }
          // alert(msg.length);
          //判斷是否隱藏
          if (msg.length == 0) {
            $('#news').hide();
          } else {
            $('#news').show();
          }

        })
        .fail(function(jqXHR, textStatus, errorThrown) {
          console.error('請求失敗:', textStatus, errorThrown);
          $('.news-title').text('載入失敗，請稍後再試');
        });
    });
  </script>
</head>

<body>
  <%- include("include/header")%>
  <!-- Swiper -->
  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <a href="#">
          <img src="./img/img/picture/index/index-banner.jpg" alt="Banner 1" class="w-full h-auto object-cover">
        </a>
      </div>
      <div class="swiper-slide">
        <a href="#">
          <img src="./img/img/picture/index/index-banner2.jpg" alt="Banner 2" class="w-full h-auto object-cover">
        </a>
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>

  <section class="py-12 bg-white">
    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center text-[#3374AE] mb-10">產品介紹</h2>

      <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-6 gap-8">
        <div class="flex flex-col items-center">
          <img src="./img/img/icon/glass_black.svg" alt="玻璃系列" class="w-16 h-16 mb-4">
          <p class="text-center">玻璃系列</p>
        </div>

        <div class="flex flex-col items-center">
          <img src="./img/img/icon/shower_black.svg" alt="淋浴設備" class="w-16 h-16 mb-4">
          <p class="text-center">淋浴設備</p>
        </div>

        <div class="flex flex-col items-center">
          <img src="./img/img/icon/toilet_black.svg" alt="衛浴設備" class="w-16 h-16 mb-4">
          <p class="text-center">衛浴設備</p>
        </div>

        <div class="flex flex-col items-center">
          <img src="./img/img/icon/clothes-hanger_black.svg" alt="曬衣架" class="w-16 h-16 mb-4">
          <p class="text-center">曬衣架</p>
        </div>

        <div class="flex flex-col items-center">
          <img src="./img/img/icon/floor_black.svg" alt="隔音地板" class="w-16 h-16 mb-4">
          <p class="text-center">隔音地板</p>
        </div>

        <div class="flex flex-col items-center">
          <img src="./img/img/icon/VAF_black.svg" alt="VAF" class="w-16 h-16 mb-4">
          <p class="text-center">VAF</p>
        </div>
      </div>
    </div>
  </section>

  <section id="news" class="py-12 bg-cover bg-center bg-no-repeat" style="background-image: url('./img/img/picture/index/newsbackground.jpg'); ">

    <div class="container mx-auto px-4">
      <h2 class="text-3xl font-bold text-center text-[#3374AE] mb-10">最新消息</h2>

      <div class="grid grid-cols-1 md:grid-cols-3 gap-8 justify-items-center">


        <div>
          <img id="imgUrl-1" src="./img/img/picture/index/new-3.jpg" alt="最新消息（一）" class="w-full h-[214px] object-cover">
          <div class="p-4">
            <h3 id="news-1" class="font-bold text-lg mb-2">最新消息（一）</h3>
            <p id="description-1" class="text-gray-600 text-sm mb-4">可放內容文字，這是測試及示意文字</p>
            <div class="flex">
              <a href="#" class="ml-auto text-[#3374AE] hover:underline text-sm">read more</a>
            </div>
          </div>
        </div>



        <div>
          <img id="imgUrl-2" src="./img/img/picture/index/news-1.jpg" alt="最新消息（二）" class="w-full h-[214px] object-cover">
          <div class="p-4">
            <h3 id="news-2" class="font-bold text-lg mb-2">最新消息（二）</h3>
            <p id="description-2" class="text-gray-600 text-sm mb-4">可放內容文字，這是測試及示意文字</p>
            <div class="flex">
              <a href="#" class="ml-auto text-[#3374AE] hover:underline text-sm">read more</a>
            </div>
          </div>
        </div>

        <div>
          <img id="imgUrl-3" src="./img/img/picture/index/news-2(客戶廠商FB照片).jpg" alt="最新消息（三）" class="w-full h-[214px] object-cover">
          <div class=" p-4">
            <h3 id="news-3" class="font-bold text-lg mb-2">最新消息（三）</h3>
            <p id="description-3" class="text-gray-600 text-sm mb-4">可放內容文字，這是測試及示意文字</p>
            <div class="flex">
              <a href="#" class="ml-auto text-[#3374AE] hover:underline text-sm">read more</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="relative h-64 md:h-80 lg:h-96 bg-gray-100 overflow-hidden">
    <img src="./img/img/picture/index/contact-us-background.jpg" alt="Background" class="absolute inset-0 w-full h-full object-cover">

    <div class="absolute inset-0 bg-black bg-opacity-20"></div>

    <div class="relative h-full flex flex-col justify-center items-center text-center px-4">
      <h2 class="text-3xl md:text-4xl lg:text-5xl font-bold text-black mb-6">DIY小學堂</h2>

      <a href="#" class="bg-[#3374AE] text-white px-12 py-2 tracking-wide rounded-lg  transition duration-300">
        點我進入
      </a>
    </div>
  </section>

  <%- include("include/footer")%>
</body>

</html>