<footer class="pt-10 bg-[#174C74] text-white">
    <div class="container mx-auto px-4">
      <div class="grid grid-cols-5 gap-8">
        <!-- 產品介紹 -->
        <div>
          <h2 class="font-bold mb-4 ml-8 text-lg">產品介紹</h2>
          <ul class="space-y-2 ml-8">
            <li><a href="./products.html" class="hover:underline">玻璃系列</a></li>
            <li><a href="./products.html" class="hover:underline">淋浴設備</a></li>
            <li><a href="./products.html" class="hover:underline">衛浴設備</a></li>
            <li><a href="./products.html" class="hover:underline">曬衣架</a></li>
            <li><a href="./products.html" class="hover:underline">隔音地板</a></li>
            <li><a href="./products.html" class="hover:underline">VAF</a></li>
          </ul>
        </div>

        <!-- 關於我們 -->
        <div>
          <h2 class="font-bold mb-4 text-lg">關於我們</h2>
          <ul class="space-y-2">
            <li><a href="#" class="hover:underline">公司歷史</a></li>
            <li><a href="#" class="hover:underline">品牌優勢</a></li>
            <li><a href="#" class="hover:underline">工程實績</a></li>
          </ul>
        </div>

        <!-- 客服中心 -->
        <div>
          <h2 class="font-bold mb-4 text-lg">客服中心</h2>
          <ul class="space-y-2">
            <li><a href="#" class="hover:underline">DIY維護教學</a></li>
            <li><a href="./warranty.html" class="hover:underline">維修通報</a></li>
          </ul>
        </div>

        <!-- 後台登入 -->
        <div>
          <h2 class="font-bold mb-4 text-lg">後台登入</h2>
          <a href="./login.html" class="hover:underline">後台登入</a>

        </div>


        <!-- 客服專線 -->
        <div class="mt-8 flex items-center space-x-4">
          <svg class="w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z">
            </path>
          </svg>
          <div class="pb-0">
            <p class="font-bold">堡家麗</p>
            <p>服務時間：0900 - 18:00</p>
            <p>連絡電話：07-123-4567</p>
          </div>
        </div>
      </div>
    </div>
    <!-- Copyright -->
    <div class="w-full h-[62px] bg-[#1B3D5C] mt-4  text-sm flex justify-between items-center">
      <p class="ml-8">Copyright 雙欣科技 All Rights Rewerved</p>
      <p>
        <a href="#" class="hover:underline">隱私權政策</a> |
        <a href="#" class="mr-4 hover:underline">使用者條款</a>
      </p>
    </div>
  </footer>
