<footer class="pt-10 bg-[#174C74] text-white">
  <div class="container mx-auto px-4">
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-8">
      <!-- 產品介紹 -->
      <div class="mb-6 sm:mb-0">
        <h2 class="font-bold mb-4 text-lg lg:text-xl">產品介紹</h2>
        <ul class="space-y-2">
          <li><a href="./products.html" class="hover:underline">玻璃系列</a></li>
          <li><a href="./products.html" class="hover:underline">淋浴設備</a></li>
          <li><a href="./products.html" class="hover:underline">衛浴設備</a></li>
          <li><a href="./products.html" class="hover:underline">曬衣架</a></li>
          <li><a href="./products.html" class="hover:underline">隔音地板</a></li>
          <li><a href="./products.html" class="hover:underline">VAF</a></li>
        </ul>
      </div>

      <!-- 關於我們 -->
      <div class="mb-6 sm:mb-0">
        <h2 class="font-bold mb-4 text-lg lg:text-xl">關於我們</h2>
        <ul class="space-y-2">
          <li><a href="#" class="hover:underline">公司歷史</a></li>
          <li><a href="#" class="hover:underline">品牌優勢</a></li>
          <li><a href="#" class="hover:underline">工程實績</a></li>
        </ul>
      </div>

      <!-- 客服中心 -->
      <div class="mb-6 sm:mb-0">
        <h2 class="font-bold mb-4 text-lg lg:text-xl">客服中心</h2>
        <ul class="space-y-2">
          <li><a href="#" class="hover:underline">DIY維護教學</a></li>
          <li><a href="./warranty.html" class="hover:underline">維修通報</a></li>
        </ul>
      </div>

      <!-- 後台登入 -->
      <div class="mb-6 sm:mb-0">
        <h2 class="font-bold mb-4 text-lg lg:text-xl">後台登入</h2>
        <a href="./login.html" class="hover:underline">後台登入</a>
      </div>

      <!-- 客服專線 -->
      <div class="flex items-center space-x-4">
        <div >
          <div class="flex">
            <p class="font-bold">堡家麗</p>
            <a href="https://www.facebook.com/p/%E5%A0%A1%E5%AE%B6%E9%BA%97-100057063595726">
              <img src="./img/img/icon/fb.svg" alt="" class="pl-2 h-6 w-6">
            </a>
          </div>
          <p class="text-sm">服務時間：0900 - 18:00</p>
          <p class="text-sm">連絡電話：07-123-4567</p>
          <p class="text-sm">傳真：07-123-4567</p>
          <p class="text-sm">電子信箱：v123@yahoo.com.tw</p>

        </div>
      </div>
    </div>
  </div>
  <!-- Copyright -->
  <div class="bg-[#1B3D5C] mt-8 py-4 text-sm">
    <div class="container mx-auto px-4 flex flex-col sm:flex-row justify-between items-center">
      <p class="mb-2 sm:mb-0">Copyright © 2024 wei. All rights reserved.</p>
      <p>
        <a href="#" class="hover:underline">隱私權政策</a> |
        <a href="#" class="hover:underline">使用者條款</a>
      </p>
    </div>
  </div>
</footer>